@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	color: rgb(var(--foreground-rgb));
	direction: rtl;
}
